/* Resetando estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizando o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Estilizando o cabeçalho */
header {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

/* Estilizando a navegação */
nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilizando o conteúdo principal */
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilizando os subtítulos */
h2 {
    color: #004080;
}

/* Ajustando o texto */
p {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Ajustando a imagem */
img {
   
    height: auto;
    border-radius: 10px;
}

/* Estilizando o rodapé */
footer {
    text-align: center;
    padding: 15px;
    background-color: #004080;
    color: white;
    margin-top: 20px;
    font-size: 14px;
}
